{% extends 'base.html' %}

{% block title%}

{% endblock %}

{% block navbar%}
<li class="nav-item"><a class="nav-link" href="{{ url_for('index')}}">Главная</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('recipes.index')}}">Рецепты</a></li>
<li class="nav-item"><a class="nav-link"  href="{{ url_for('recipes.edit_recipe') }}">Добавить новый пост</a></li>
{% endblock%}

{% block content %}

<div class="margin-8"></div>

<h2>Список тегов:</h2>

<div class="margin-8"></div>

{% for tags in tag_names %}
<div class="card mb-5">
    <div class="card-body">
        <a href="{{url_for('recipes.tag_detail', slug=tags.slug)}}"
           class="btn btn-primary" target="_blank">{{ tags.name }}</a>
    </div>
</div>
{% endfor%}
{% endblock %}