{% extends 'base.html' %}

{% block title%}
{{ tag.name }} recipes
{% endblock %}

{% block navbar%}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index')}}">Главная</a></li>
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('recipes.index')}}">Рецепты</a></li>
                <li class="nav-item"><a class="nav-link"  href="{{ url_for('recipes.edit_recipe') }}">Добавить новый пост</a></li>
{% endblock%}

{% block content %}

<div class="margin-8"></div>

<h2>Рецепты с тегом "{{ tag.name}}":</h2>

<div class="margin-8"></div>

{% for recipe in recipes %}

<div class="card" style="width: 12rem;">

    <img src="/static/img/png/image.png" class="card-img-top img-thumbnail" alt="{{ recipe.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <a href="{{ url_for('recipes.recipe_detail', slug=recipe.slug)}}" class="btn btn-primary" target="_blank">К рецепту</a>
    </div>
</div>
{% endfor%}

{% endblock %}